@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');
body {
    background-color: black;
    color: palevioletred;
    font-family:"Cherry Bomb One", Arial, Helvetica, sans-serif;
}